.jumbotron {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0px;
}

.navbar {
	transition: background-color 1s ease 0s; /* Transition effect to make it fade in (optional) */
}

.navbar-default .navbar-nav>li>a {
	color: black;
}

.pagination li {
	display: inline-block;
	padding: 5px;
}

.navbar.invis {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	transition: background-color 1s ease 0s; /* Transition effect to make it fade in (optional) */
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}

.navbar-default .navbar-toggle .icon-bar.opaque {
	background-color: white;
}

.jumbotron.background {
	padding: 0 0 48px 0;
	background-image: url(images/P5171124.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	color: white;
	display: flex;
	align-items: center;
	height: 100vh;
	margin-bottom: 0;
}

.col-md-6.jumbotron, .col-md-3.jumbotron {
	padding: 0;
	margin: 0;
}

.col-md-6 > .container, .col-md-3 > .container {
	height: 305px;
	background: rgba(0, 0, 0, 0);
	color: transparent;
	transition: all .25s ease 0s;
}

.col-md-6 > .container:hover, .col-md-3 > .container:hover {
	background: rgba(0, 0, 0, .75);
	color: white;
	transition: all .25s ease 0s;
}

.list > li {
	display:block;
	background-color: #eee;
	padding:10px;
	box-shadow: inset 0 1px 0 #fff;
}

footer {
	background: #0c0c0c;
	padding: 1em;
	color: white;
	margin-top: 25px;
}

.input-sm {
	font-size: 14px;
}

.header {
	position: relative;
	margin-top: -1em;
	background: white;
	padding: 5px 10px;
	font-size: 24px;
	font-weight: 100;
	color: #777777;
}

.row.border {
	border-top: 1px solid #eeeeee;
	margin-top: 50px;
}

.container.content {
	line-height: 24px;
	color: #777777;
}

h1, h2 {
	margin: 0;
}

.portTitle {
	font-family: 'Quicksand';
}

.glyphicon {
	font-size: 30px;
	padding: 30px;
	background-color: #fafafa;
	border-radius: 999px;
	transition: all .25s ease 0s;
}

.glyphicon:hover {
	font-size: 30px;
	padding: 30px;
	background-color: #777777;
	border-radius: 999px;
	color: white;
	transition: all .25s ease 0s;
}

a.anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}

.text-danger {
	text-align: left;
}

.logo {
	max-height: 50px;
}

.nav-pills {
    display: flex;
    justify-content: center;
}

.overlay {
	opacity: 0;
	height: 250px;
	background: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay:hover {
	opacity: 1;
}

.overlay .portTitle {
	color: white;
}

.portfolio {
	background-size: cover;
}

.nav-pills {
	padding-bottom: 15px;
}

.navbar {
	background-color: white;
	border-bottom: 1px solid black;
}

.main-content {
	padding-top: 75px;
}
