/**
 * General
 */

/* Set navbar styles */
.navbar {
	transition: background-color 1s ease 0s; /* Transition effect to make navbar fade in */
	background-color: white;
	border-bottom: 1px solid black;
}

/* Set navbar link color to black */
.navbar-default .navbar-nav>li>a {
	color: black;
}

/* Make navbar invisible when at top of home page */
.navbar.invis {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	transition: background-color 1s ease 0s; /* Transition effect to make it fade in (optional) */
}

/* Set menu icon color */
.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}

/* Set menu icon color when header background is invisible */
.navbar-default .navbar-toggle .icon-bar.opaque {
	background-color: white;
}

/* Set footer styles */
footer {
	background: #0c0c0c;
	padding: 1em;
	color: white;
	margin-top: 25px;
}

/* Set maximum height for logo */
.logo {
	max-height: 50px;
}

/* Remove margin from headers */
h1, h2 {
	margin: 0;
}

/* Set main content top padding to prevent navbar overlap */
.main-content {
	padding-top: 75px;
}

/**
 * Home page
 */
/* Set home page main banner properties */
.jumbotron.background {
	padding: 0 0 48px 0;
	background-image: url(images/P5171124.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	color: white;
	display: flex;
	align-items: center;
	height: 100vh;
	margin-bottom: 0;
}

/* Set font for portfolio items hover overlay */
.portTitle {
	font-family: 'Quicksand';
}

/* Center portfolio selection buttons */
.nav-pills {
    display: flex;
    justify-content: center;
	padding-bottom: 15px;
}

/* Set portfolio item overlay settings */
.overlay {
	opacity: 0;
	background: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Change overlay opacity on hover */
.overlay:hover {
	opacity: 1;
}

/* Set portfolio item overlay text color */
.overlay .portTitle {
	color: white;
}

/* Set section header properties */
.header {
	position: relative;
	margin-top: -1em;
	background: white;
	padding: 5px 10px;
	font-size: 24px;
	font-weight: 100;
	color: #777777;
}

/* Set portfolio item background image size */
.portfolio {
	background-size: cover;
}

/* Set in page link anchor properties */
a.anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}

/* Set section divider properties */
.row.border {
	border-top: 1px solid #eeeeee;
	margin-top: 50px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #970808;
}

.nav-pills>li>a {
	color: black;
}
